{% extends 'App/frontend.html' %}

<!-- Title on the browser tab -->
{% block title %} Backend {% endblock title %}

<!-- Footer (optopnal - not necessary) -->
{% block footer %} style="color: #ff7f7f" {% endblock footer %}

<!-- Page content -->
{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">
              <h1 class="h1">
                Table Master U El Bosque :
                <span>&#160;</span>
              </h1>
            </span>
          </h2>
          <br />
          <p class="mb-0 mt-4" id="p">
            Synchronization of book inventory in a bookstore using Excel files.
          </p>
          <p class="mb-0 mt-2" id="p">  
            Boston LC bookstore has a large variety of books, and they need to
            keep the inventory updated in a database. Currently, they receive
            information about the books in Excel files containing details such
            as title, author, category, price, etc. However, the company wants
            to have this virtual synchronization. The challenge is to process
            and synchronize these Excel files with a database of books. Since
            the current process involves manually copying and pasting data from
            Excel into the database, which is error prone and time consuming.
            For this reason, Table Master will develop a project that automates
            this process. The project will be developed through an application
            that takes and processes the Excel files provided by them, extracts
            the important information from each workbook and automatically loads
            it into the library's database. This project will require knowledge
            of file processing, data extraction, database management and
            synchronization to ensure that the library's inventory is up to
            date.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
