{% extends 'App/frontend.html' %}

<!-- Title on the browser tab -->
{% block title %} Backend {% endblock title %}

<!-- Footer (optopnal - not necessary) -->
{% block footer %} style="color: #ff7f7f" {% endblock footer %}

<!-- Page content -->
{% block content %}
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">
                <h1 class="h1">Nuestra promesa para ti...
                  <span>&#160;</span>
                </h1>
              </span>
            </h2>
            <br> 
            <p class="mb-0"><br> Ya que te encuentras interesado en nuestros servicios, es primordial decirte que no te equivocaste, nuestra principal misión es crear un producto de la mayor calidad con gran empeño y actitud. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}