{% extends 'App/base.html' %}
{% load static %}
<!-- Title on tab -->
{% block title %} Add City {% endblock title %}

<!-- Page Content -->
{% block content %}
<div class="table-container">
    <section id="container">
        <header>{% block card-title %}City Registration Form {% endblock card-title %}</header>
        <form {% block Action %} action="/ciudad_add" {% endblock Action %} method="POST" enctype="multipart/form-data" autocomplete="off" class="form">
        {% csrf_token %}

        <!-- ====== Block Id hidden here ====== -->
        {% block Value-id %}{% endblock Value-id %}
        <div class="input-box">
            <label>City Name</label>
            <input type="text" placeholder="Enter City name" name="name" maxlength="40" placeholder="City name" required {% block Value-name %}{% endblock Value-name %}  />
        </div>
        
        {% block Value-pais_id %}
        <div class="input-box">
            <label>Country</label>
            <select class="input-box" name="pais_id" required>
                <option value="">Select Country</option>
                {% for paises in pais %}
                    <option value="{{ paises.id }}">{{ paises.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endblock Value-pais_id %}
        
        
        <br>
        <button type="submit" >{% block Btn-action %}&nbsp;&nbsp; Add City {% endblock Btn-action %}</button>
        <div id="back" > 
            <a id="back-a" style="background-color: #0b2239;" href="{% url 'ciudad_list' %}">Cancel</a>
        </div>
        
        
        
        </form>
    </section>
    
</div>

{% endblock content %}