{% extends 'App/egresado_add.html' %}

<!-- Title on tab -->
{% block title %} Edit Country {% endblock title %}

{% block card-title %} <strong> Registered at: </strong> <span> {{ ciudad.created_at | date:'m/d/Y (H:i)' }} </span> {% endblock card-title %}

<!-- Form Action -->
{% block Action %} action="/egresado_edit" {% endblock Action %}

<!-- Button Action (content) -->
{% block Btn-action %} <i class="fas fa-server"></i>&nbsp;&nbsp; Save Changes {% endblock Btn-action %}

<!-- =========== All <inputs> =========== -->
<!-- Block ID -->
{% block Value-id %}

<div class="input-group mb-3">
    <span class="side-label btn"><i class="fas fa-key"></i></span>
    <input type="text" class="form-control" name="id" value="{{ egresado.id }}" readonly>
</div>
{% endblock Value-id %}
<!-- Name -->
{% block Value-name %} value="{{ egresado.name }}" {% endblock Value-name %}
<!-- apellido -->
{% block Value-apellido %} value="{{ egresado.apellido }}" {% endblock Value-apellido %}
<!-- cedula -->
{% block Value-cedula %} value="{{ egresado.cedula }}" {% endblock Value-cedula %}
<!-- numero_carne -->
{% block Value-numero_carne %} value="{{ egresado.numero_carne }}" {% endblock Value-numero_carne %}
<!-- genero -->
{% block Value-genero %}
    <option >{{ egresado.genero }}</option>
{% endblock Value-genero %}
<!-- direccion -->
{% block Value-direccion %} value="{{ egresado.direccion }}" {% endblock Value-direccion %}
<!-- celular -->
{% block Value-celular %} value="{{ egresado.celular }}" {% endblock Value-celular %}
<!-- correo_personal -->
{% block Value-correo_personal %} value="{{ egresado.correo_personal }}" {% endblock Value-correo_personal %}
<!-- correo_institucional -->
{% block Value-correo_institucional %} value="{{ egresado.correo_institucional }}" {% endblock Value-correo_institucional %}
<!-- fecha_nacimiento -->
{% block Value-fecha_nacimiento %} value="{{ egresado.fecha_nacimiento|date:"Y-m-d" }}" {% endblock Value-fecha_nacimiento %}
<!-- promocion -->
{% block Value-promocion %} value="{{ egresado.promocion }}" {% endblock Value-promocion %}
<!-- tipo_grado -->
{% block Value-tipo_grado %}
    <option >{{ egresado.tipo_grado }}</option>
{% endblock Value-tipo_grado %}

<!-- select -->
{% block Value-ciudad_id %}
<div class="input-box">
    <label>City</label>
    <select class="input-box" name="ciudad_id" required>
        <option >Select City</option>
        {% for ciudades in ciudad %}
            {% if ciudades.id == egresado.ciudad_id %}
                <option value="{{ ciudades.id }}" selected>{{ ciudades.name }}</option>
            {% else %}
                <option value="{{ ciudades.id }}">{{ ciudades.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endblock Value-ciudad_id %}
<!-- select -->
{% block Value-pregrado_id  %}
<div class="input-box">
    <label>Undergraduate</label>
    <select class="input-box" name="pregrado_id" required>
        <option >Select Undergraduate</option>
        {% for pregrados in pregrado %}
            {% if pregrados.id == egresado.pregrado_id %}
                <option value="{{ pregrados.id }}" selected>{{ pregrados.name }}</option>
            {% else %}
                <option value="{{ pregrados.id }}">{{ pregrados.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endblock Value-pregrado_id  %}


