{% extends 'App/empresa_add.html' %}

<!-- Title on tab -->
{% block title %} Edit Company {% endblock title %}

{% block card-title %} <strong> Registered at: </strong> <span> {{ empresa.created_at | date:'m/d/Y (H:i)' }} </span> {% endblock card-title %}

<!-- Form Action -->
{% block Action %} action="/empresa_edit" {% endblock Action %}

<!-- Button Action (content) -->
{% block Btn-action %} <i class="fas fa-server"></i>&nbsp;&nbsp; Save Changes {% endblock Btn-action %}

<!-- =========== All <inputs> =========== -->
<!-- Block ID -->
{% block Value-id %}
<div class="input-group mb-3">
    <span class="side-label btn "><i class="fas fa-key"></i></span>
    <input type="text" class="form-control" name="id" value="{{ empresa.id }}" readonly>
</div>
{% endblock Value-id %}
<!-- Name -->
{% block Value-name %} value="{{ empresa.name }}" {% endblock Value-name %}
<!-- Nit -->
{% block Value-nit %} value="{{ empresa.nit }}" {% endblock Value-nit %}
<!-- Address -->
{% block Value-direccion %} value="{{ empresa.direccion }}" {% endblock Value-direccion %}
