{% extends 'App/base.html' %}

<!-- Title on the browser tab -->
{% block title %} Company {% endblock title %}

{% block content %}

<div class="table-container">

    <table>
        <thead>
            <tr>
            <th><a href="{% url 'empresa_add' %}" class="add_list"><i class="fas fa-plus"></i></a></th>
            <th style="width: 2%;">#</th>
            <th style="width: 25%;">Name</th>
            <th style="width: 10%;">nit</th>
            <th style="width: 12%;">Address</th>
            <th style="width: 21%;">Created at</th>
            <th style="width: 22%;">Updated at</th>
            <th colspan="2" style="width: 10%;">Action</th>
            </tr>
        </thead>

        <tbody>
            
            <!-- Dados vindos do BD -->
            {% for empresa in empresas %}
            <tr>
                <!-- (Opcional)
                <td data-label="Id" id="table-top">{{ product.id }}</td>
                -->
                <td></td>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.name }}</td>
                <td>{{ empresa.nit }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>{{ empresa.created_at | date:'m/d/Y (H:i)' }}</td>
                <td>{{ empresa.updated_at | date:'m/d/Y (H:i)' }}</td>
                <td>
                    <a href="/empresa/{{ empresa.id }}" class="btn btn-warning btn-actions" title="Edit Company">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <!-- Delete confirmations JS onclick="return confirm('Are you sure want to delete the record?')" incluir dentro de <a> -->
                    <a href="/empresa_delete/{{ empresa.id }}" class="btn btn-secondary btn-actions" title="Delete Company">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock content %}