{% extends 'App/base.html' %}

<!-- Title on tab -->
{% block title %} Add Academy {% endblock title %}

<!-- Page Content -->
{% block content %}
<div class="table-container">
    
    <section id="container">
        <header>{% block card-title %}Academy Registration Form {% endblock card-title %}</header>
        <form {% block Action %} action="/institucion_add" {% endblock Action %} method="POST" enctype="multipart/form-data" autocomplete="off" class="form">
        {% csrf_token %}

        <!-- ====== Block Id hidden here ====== -->
        {% block Value-id %}{% endblock Value-id %}
        <div class="input-box">
            <label>Academy Name</label>
            <input type="text" placeholder="Enter Academy name" name="name" maxlength="40" placeholder="Academy name" required {% block Value-name %}{% endblock Value-name %}  />
        </div>
        <br>
        <button type="submit" >{% block Btn-action %}&nbsp;&nbsp; Add Academy {% endblock Btn-action %}</button>
        <div id="back" > 
            <a id="back-a" style="background-color: #0b2239;" href="{% url 'pais_list' %}">Cancel</a>
        </div>
       
        
        
        </form>
    </section>
    
</div>

{% endblock content %}