{% extends 'App/base.html' %}
{% load static %}
<!-- Title on tab -->
{% block title %} Add Word {% endblock title %}

<!-- Page Content -->
{% block content %}
<div class="table-container">
    <section id="container">
        <header>{% block card-title %}Word Registration Form {% endblock card-title %}</header>
        <form {% block Action %} action="/laboral_add" {% endblock Action %} method="POST" enctype="multipart/form-data" autocomplete="off" class="form">
        {% csrf_token %}

        <!-- ====== Block Id hidden here ====== -->
        {% block Value-id %}{% endblock Value-id %}
        
        {% block Value-egresado_id %}
        <div class="input-box">
            <label>Gradutate</label>
            <select class="input-box" name="egresado_id" required>
                <option value="">Select Gradutate</option>
                {% for egresados in egresado %}
                    <option value="{{ egresados.id }}">{{ egresados.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endblock Value-egresado_id %}

        <div class="input-box">
            <label>Position</label>
            <input type="text" placeholder="Enter position" name="cargo" maxlength="40" placeholder="position" required {% block Value-cargo %}{% endblock Value-cargo %}  />
        </div>
        
        <div class="input-box">
            <label>Start date:</label>
            <input type="date" placeholder="Enter Start date:" name="fecha_inicio" maxlength="40" placeholder="Start date:" required {% block Value-fecha_inicio %}{% endblock Value-fecha_inicio %}  />
        </div>

       
        <div class="input-box">
            <label>End date:</label>
            <input type="date" placeholder="Enter  End date:" name="fecha_fin" maxlength="40" placeholder=" End date:" required {% block Value-fecha_fin %}{% endblock Value-fecha_fin %}  />
        </div>

        {% block Value-empresa_id %}
        <div class="input-box">
            <label>Company</label>
            <select class="input-box" name="empresa_id" required>
                <option value="">Select Company</option>
                {% for empresas in empresa %}
                    <option value="{{ empresas.id }}">{{ empresas.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endblock Value-empresa_id %}

        <button type="submit" >{% block Btn-action %}&nbsp;&nbsp; Add Word {% endblock Btn-action %}</button>
        <div id="back" > 
            <a id="back-a" style="background-color: #0b2239;" href="{% url 'laboral_list' %}">Cancel</a>
        </div>

        </form>
    </section>
    
</div>

{% endblock content %}