{% extends 'App/base.html' %}

<!-- Title on the browser tab -->
{% block title %} Word {% endblock title %}

{% block content %}
<br>
<div class="post">   
    <h1><a >Word History</a></h1>
</div>
<div class="container">
    <br>
    <a href="{% url 'laboral_add' %}" class="btn-flotante"><i class="fas fa-plus"></i></a>
    <div class="row">
        {% for laboral in laborals %}
        <div class="col-sm mt-4">
            <div class="card text-center" style="width: 25rem;">
                <div class="card-header">
                    
                    <h5 style="text-align: center; top:10px;" class="card-title">  
                    <span></span>{{ laboral.Egresado.name }} {{ laboral.Egresado.apellido }}</h5>
                  </div>
                <div class="card-body">
                    <i class="fa fa-user" aria-hidden="true"></i>                    
                    <p style="text-align: center; top:10px;" ></p>
                    <p><b> Position:  </b><span class="card-text"> {{ laboral.cargo }}</span></p>
                    <p><b> Start date:  </b><span class="card-text"> {{ laboral.fecha_inicio }}</span></p>    
                    <p><b> End date:  </b><span class="card-text"> {{ laboral.fecha_fin }}</span></p>
                    <p><b> Empresa:  </b><span class="card-text"> {{ laboral.empresa.name }}</span></p>
                    <hr>            
                    <a href="/laboral/{{ laboral.id }}" class="btn btn-warning btn-actions" title="Edit">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="/laboral_delete/{{ laboral.id }}" class="btn btn-secondary btn-actions" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>        
                </div>               
                <div class="card-footer text-muted">
                    <p><b> Created at:  </b><span class="card-text"> {{ laboral.created_at }}</span></p>
                    
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <br>
</div>
<br>


{% endblock content %}