{% extends 'App/base.html' %}
{% load static %}
<!-- Title on tab -->
{% block title %} Add Undergraduate {% endblock title %}

<!-- Page Content -->
{% block content %}
<div class="table-container">
    <section id="container">
        <header>{% block card-title %}Undergraduate Registration Form {% endblock card-title %}</header>
        <form {% block Action %} action="/pregrado_add" {% endblock Action %} method="POST" enctype="multipart/form-data" autocomplete="off" class="form">
        {% csrf_token %}

        <!-- ====== Block Id hidden here ====== -->
        {% block Value-id %}{% endblock Value-id %}
        <div class="input-box">
            <label>Undergraduate Name</label>
            <input type="text" placeholder="Enter Undergraduate name" name="name" maxlength="40" placeholder="Undergraduate name" required {% block Value-name %}{% endblock Value-name %}  />
        </div>
        
        {% block Value-facultad_id %}
        <div class="input-box">
            <label>School</label>
            <select class="input-box" name="facultad_id" required>
                <option value="">Select School</option>
                {% for facultades in facultad %}
                    <option value="{{ facultades.id }}">{{ facultades.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endblock Value-facultad_id %}
        
        
        <br>
        <button type="submit" >{% block Btn-action %}&nbsp;&nbsp; Add Undergraduate {% endblock Btn-action %}</button>
        <div id="back" > 
            <a id="back-a" style="background-color: #0b2239;" href="{% url 'pregrado_list' %}">Cancel</a>
        </div>
        
        
        </form>
    </section>
    
</div>

{% endblock content %}